html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", serif;
    color: #283136;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 41px;
    background-color: red;
    border-radius: 2px;
}

.yellow {
    background: #efc84a;
}

.green {
    background: #00ca74;
}

.main-header {
    height: 545px;
    background-color: #eee;
    margin-bottom: 80px;
}

.main-header .slider .slides {
    width: 1160px;
    height: 430px;
    margin: 0 auto;
}

.main-header .slider .controls {
    position: absolute;
    width: 200px;
    height: 18px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.main-header .slider .controls i {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 8px;
    background: white;
    border: 5px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.main-header .slider .controls i.active {
    background: #c1c1c1;
}

main .features section {
    margin-bottom: 80px;
}

main .features section article h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 0;
    padding-top: 19px;
    padding-bottom: 15px;
    color: black;
    text-transform: uppercase;
}

main .features section article p {
    max-width: 245px;
    margin: 0;
    padding-bottom: 30px;
}

main .features section article {
    float: left;
    margin-right: 100px;
}

main .features section article:nth-child(3n) {
    margin-right: 0;
}

main .about-us b {
    display: inline-block;
    font-size: 45px;
    line-height: 45px;
    color: black;
    padding-bottom: 15px;
}

main .about-us span {
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

main .about-us .left-column {
    float: left;
    width: 660px;
    margin-top: 35px;
}

main .about-us .left-column p {
    max-width: 620px;
}

main .about-us .left-column li {
    position: relative;
    padding-bottom: 24px;
    padding-left: 35px;
}

main .about-us .left-column li::before {
    position: absolute;
    top: 10px;
    left: 0;
    content: "";
    background-color: red;
    width: 25px;
    height: 2px;

}

main .about-us .right-column {
    float: right;
    width: 360px;
}

main .about-us ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main .about-us .right-column li {
    float: left;
    width: 110px;
    margin-right: 10px;
    line-height: 18px;
}

main .about-us .right-column li:nth-child(3) {
    margin-right: 0;
}

main .about-us .right-column span {
    padding-top: 29px;
    padding-bottom: 31px;
    padding-left: 17px;
}

main .about-us .right-column b {
    display: inline-block;
    font-size: 45px;
    line-height: 45px;
    color: black;
    padding-bottom: 19px;
}

main .about-us .right-column b sup {
    font-size: 25px;
    top: -0.6em;
}

main hr {
    border: none;
    background-color: #eeeeee;
    height: 2px;
    margin-bottom: 40px;
}








